.post {
  padding: 20px;
  border-top: 1px solid #ccc;
  //margin-bottom: 10px;
  &:last-child {
    //margin-bottom: 0px;
  }
  &:hover {
    background-color: #F8F8F8;
  }
}

.mejs-container{
  max-width: 392px;
  //width: 50% !important;
}

.meta {
  font-size: 12px;
  margin: 0.5em 0 1em 0;
  width: 100%;
  color: #999;
  svg {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -1px;
    margin-right: 0;
  }
  time {
    margin-right: 0.5em;
  }
  a {
    color: inherit;
    font-weight: normal;
  }
}