@mixin breakpoint($point) {
  @if $point == rv {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == js {
    @media (max-width: 1250px) { @content; }
  }
  @else if $point == ac {
    @media (max-width: 650px)  { @content; }
  }
}

@mixin get-off-the-screen() {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

@mixin blacked() {
  border: 1px dotted black;
}

*, *:before, *:after {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

// Source Sans Pro
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,400italic,600italic);
// Source Code Pro
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700);
// Open Sans
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

$blue: rgba(65, 105, 225, 1);
$green: rgba(0, 205, 73, 1);